@CHARSET "UTF-8";

/**
 * www.simplybusiness.se website
 *
 * Designed and implemented by simplybusiness.se
 *
 * Copyright simplybusiness.se 2012
**/

body {
    width: 100%;
    background: #E5E5E5;
}

#header .content,
#footer .content,
#body {
    width: 940px;
    margin: 0 auto;
}

/**
 * Site-wide.
**/

.pitch-tm {
    color: #A71680;
}

/**
 * Header.
**/

#header {
    background-color: #000;
}

#header .content .logo {
    margin: 34px 0 0 15px;
}

/**
 * Footer.
**/

#footer .content {
    padding: 38px 0 26px 0;
    text-align: center;
}

#footer .copyright {
    font-size: 9px;
    text-height: 12px;
}

/**
 * Pages.
**/

.page {
    border-bottom: 12px solid #000;
    background: #FFF;
}

.page .content {
    position: relative;
    height: 547;
    padding: 41px 15px 0 15px;
    overflow: hidden;
}

.page .content .info-strip {
    width: 100%;
}

/**
 * page-1
**/

#page-1 {
    border-top: none;
    border-bottom: 12px solid #000;
}

#page-1 .content {
    height: 478px;
}

#page-1 .logo-tagline {
    position: absolute;
    top: 405px;
    left: 497px;
}

#page-1 .content {
    background: url('../images/happy-people.png') no-repeat 67px 237px;
}

/**
 * page-2
**/

#page-2 .infographic-man {
    position: absolute;
    top: 151px;
    left: 65px;
}

#page-2 .info-strip {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#page-2 .info-strip .info-1 {
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 23px;
    line-height: 60px;
}

#page-2 .info-strip .info-2 {
    padding: 0px 15px 0px 15px;
    font-size: 10px;
    line-height: 20px;
}

/**
 * page-3
**/

#page-3 .content .large-note {
    padding-left: 15px;
}

#page-3 .content {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
}

#page-3 .info-strip-1 {
    margin-top: 50px;
    padding: 89px 0 35px 0;
    width: 100%;
    background: #F6F6F6;
    text-align: center;
}

#page-3 .info-strip-2 .info-1 {
    padding: 50px 30px 0 30px;
    font-size: 14px;
}

#page-3 .info-strip-2 .info-1 table {
    table-layout: fixed;
}

#page-3 .info-strip-2 .info-1 .header,
#page-3 .info-strip-2 .info-1 .footer {
    color: #82358C;
    font-size: 23px;
}

#page-3 .info-strip-2 .info-1 td {
    width: 273px;
    padding: 10px;
    vertical-align: top;
}

#page-3 .info-strip-2 .info-1 .header td {
    padding-bottom: 35px;
}

#page-3 .info-strip-2 .info-1 .footer td {
    padding-top: 25px;
}

#page-3 .info-strip-2 .info-2 {
    margin: 90px 0 105px 0;
    padding: 13px 52px 16px 52px;
    background: #F6F6F6;
}

#page-3 .info-strip-2 .info-2 table {
    width: 100%;
    font-size: 14px;
}

#page-3 .info-strip-2 .info-2 .pitch-tm {
    font-size: 16px;
}

#page-3 .info-strip-2 .info-2 td {
    vertical-align: top;
    padding: 10px;
}
#page-3 .info-strip-2 .info-2 td:first-child {
    padding-left: 0;
}
#page-3 .info-strip-2 .info-2 td:last-child {
    padding-right: 0;
}


/**
 * page-3a
**/

#page-3a .content {
    height: auto;
}

#page-3a .trail {
    margin: 92px 0 68px 0;
}

#page-3a .point {
    height: 26px;
    padding: 14px 0 16px 0;
    background: url('../images/point-purple-56x56.png') no-repeat 427px 0;
}

#page-3a .point .title {
    padding-top: 4px;
    background: #FFF;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

#page-3a .line {
    background: url('../images/line-black-6x1.png') repeat-y 452px 0;
}

#page-3a .line .text,
#page-3a .line .image {
    float: left;
}

#page-3a .line .image {
    width: 455px;
    padding: 50px 0 50px 0;
    text-align: center;
}

#page-3a .line .text {
    width: 375px;
    padding: 50px 40px 50px 40px;
    font-size: 16px;
    line-height: 21px;
}

#page-3a .line .text .section {
    padding: 0 0 10px 0;
}

/**
 * page-4
**/

#page-4 .infographic-stages {
    position: absolute;
    top: 110px;
    left: 0;
}

/**
 * page-5
**/

#page-5 .infographic-logos {
    position: absolute;
    top: 165px;
    left: 152px;
}

#page-5 .info-strip {
    position: absolute;
    top: 352px;
    left: 0px;
}

#page-5 .info-1,
#page-5 .info-2,
#page-5 .info-3 {
    text-align: center;
}

#page-5 .info-1 {
    padding: 16px 80px 16px 80px;
    background: #000;
    color: #FFF;
    font-size: 18px;
    line-height: 26px;
}

#page-5 .info-3 {
    padding-top: 20px;
}

/**
 * page-6
**/

#page-6 .info-strip {
    position: absolute;
    top: 240px;
    left: 0px;
    padding: 14px 0 14px 0;
    background: #000;
    color: #FFF;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
}

#page-6 .info-strip a {
    color: #FFF;
}
